.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    font-size: 32px;
    color: #000;
    margin-bottom: 20px;
  }
  h3{
    font-size: 24px; /* Decreased font size for dresses */
    color: #000;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-bottom: 10px;
  }

  a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    transition: color 0.3s ease;
  }

  a:hover {
    color: #0056b3;
  }