.container2 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Category header styles */
h1{
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Category description styles */
.category-description {
  margin-bottom: 20px;
}

/* Related dresses styles */
.dresses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.dress-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  align-items: center;
}

.dress-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.dress-card p {
  margin-bottom: 5px;
}

.dress-image img {
  max-width: 60%; /* Ensure the image doesn't exceed the container width */
  height: 40% ;
  border-radius: 5px;
  margin-top: 10px;
}


.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px
}

.button-group {
  display: flex;
  gap: 10px; 
 
}

.edit-button, .delete-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;

}

.delete-button {
  background-color: #f44336;
}