/* General styles */
.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 20px;
}

.container2 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px; 
  position: relative;
  text-align: center;
}

h1 {
  font-size: 32px;
  color: #333;
  margin-bottom: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #007bff;
  font-size: 20px;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

/* Pagination styles */
.digg_pagination {
  background: white;
  cursor: default;
  text-align: center; /* Center align the pagination */
  font-size: 16px; /* Adjust font size */
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: inline-block; /* Display as inline-block for alignment */
  margin-right: 1px;
}

.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}

.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}

.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033;
}

.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: auto; /* Auto width */
  margin-bottom: 0.3em;
}

.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

/* Container for the dresses grid */
.dresses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the column width as needed */
  grid-gap: 20px; /* Adjust the gap between grid items */
}

/* Individual dress card */
.dress-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: ;
}

.dress-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.dress-card p {
  margin: 5px 0;
}

.dress-image img {
  max-width: 60%; /* Ensure the image doesn't exceed the container width */
  height: 40% ;
  border-radius: 5px;
  margin-top: 10px;
}

.button-container {
  display: flex; /* Make the container a flex container */
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 20px; /* Add some margin on top for spacing */
}

.edit-button,
.delete-button {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.edit-button {
  background-color: #007bff; /* Blue color for edit button */
}

.delete-button {
  background-color: #dc3545; /* Red color for delete button */
}


.edit-button,
.delete-button{
  margin-right: 10px;
}

.edit-button:hover,
.delete-button:hover {
  opacity: 0.8; /* Reduce opacity on hover */
}