body {
  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; 
  }
  .container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  .container2 {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
  }
     /* Form field styles*/
    .field {
      margin-bottom: 20px;
    }

    label {
      font-size: 18px;
      color: #555;
     display: block;
      margin-bottom: 5px;
    }

    .field input[type="text"],
    .field select,
    .field input[type="number"],
    .field input[type="file"] {
      width: 80%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 16px;
    }

    /* Submit button styles */
    .actions {
      margin-top: 20px;
    }

    input[type="submit"] {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
      background-color: #0056b3;
    }

    /* Back link styles */
    a {
      text-decoration: none;
      color: #007bff;
      font-size: 18px;
      transition: color 0.3s ease;
    }

    a:hover {
      color: #0056b3;
    }
    .cover {
      margin-right: 220px;
    }

    img {
      position: fixed;
      top: 0;
      right: 0;
      width: 300px;
      height: 100%;
      z-index: 9999;
    }
    .sizes-checkboxes {
      display: flex;
      flex-wrap: wrap;
     
    }
    
    /* CSS for individual checkbox */
    .size-checkbox {
      margin-right: 10px;
   
    }
    
    /* Styling for individual checkboxes */
    .size-checkbox input[type="checkbox"] {
      margin-right: 5px;
      text-align: center;
    }