
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dresses</title>
  <%= stylesheet_link_tag 'dress_index', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<div class="container">
  <h1>Dresses</h1>
  <ul>
    <% @dresses.each do |dress| %>
      <li><%= link_to dress.name, dress_path(dress) %></li>
    <% end %>
  </ul>
  <div class="digg_pagination">
    <%= will_paginate @dresses %>
  </div>
</div>

</body>
</html>